{{define "title"}}Home{{end}}
{{define "main"}}
<section class="py-5 mt-5">
    <div class="container py-5">
        {{if .Quotes}}
        <h2 class="fw-lighter text-center" style="margin-top: -54px;">All quotes:</h2>
        {{with .Flash}}
            <div class="alert alert-primary" role="alert"><span><strong>{{.}}</strong></span></div>
        {{end}}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
            {{range .Quotes}}
            <div class="col" style="margin-bottom: 25px">
                <div class="card zoom">
                    <a href='/quote/view/{{.ID}}'>
                    <div class="card-body bg-dark border rounded border-dark">
                        <h4 class="card-title text-warning">{{.Author}}</h4>
                        <h6 class="text-muted card-subtitle mb-2">Quote #{{.ID}}</h6>
                        <p class="card-text">{{.Content}}</p><a class="card-link" href='/quote/view/{{.ID}}'>Open in new window</a>
                    </div>
                    </a>
                </div>
            </div>
            {{end}}
        </div>
        {{else}}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
            <div class="col" style="margin-top: 50px">
                <div class="card">
                    <div class="card-body bg-dark border rounded border-dark">
                        <p class="card-text" style="text-align: center">There's <b>nothing</b> to see here yet! <br>Please <b><a href="/user/signup">sign up</a></b> and add the first quote!</p>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</section>
{{end}}















